.Contact {
	width: 100vw;
	height: 100vh;
	background-image: url('/assets/img/contact-min-b.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Contact h1 {
	color: #fff;
}
