@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:wght@300&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Julius Sans One', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.Home {
	width: 100vw;
	height: 100vh;
	background-image: url('/assets/img/main.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
