.HomeComp {
	padding-top: 5rem;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding-left: 10vw;
}

.HomeTitle {
	color: #fff;
	font-size: 7.5vh;
	margin: 0;
	font-weight: 400;
}

.HomeSubTitle {
	color: #666;
	font-size: 7.5vh;
	margin: 0;
	font-weight: 100;
}
